.container{
    display:flex;
    /* text-align: center; */

}
.item{
    padding: 10px;
    font-size: 2rem;
    text-align: center;
    grid-template-areas: 
    "a b b d"
    "a b c d"
    "a b c d";
}
.item1{
    background-color: lightblue;
}
.item2{
    background-color: silver;
}
.item3{
    background-color: goldenrod;
}
.item4{
    background-color: chartreuse;
}
.item5{
    background-color: lightgoldenrodyellow;
}
.item6{
    background-color: lightsalmon;
}
.item7{
    background-color: lightslategrey;
}
.item8{
    background-color: lightcoral;
}