/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

/* Navbar */
.navbar {
  background: darkred;
  overflow: hidden;
}

.navbar a {
  float: left;
  display: block;
  color:  white;
  padding: 14px 20px;
  text-decoration: none;
}

.navbar a:hover {
  background: #575757;
}

/* Hero Section */
.hero {
  background-color: red;
  color: white;
  height: 60vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  letter-spacing: 0vh;
  font-size:xx-large;
}

.hero h1 {
  font-size: 40px;
  margin-bottom: 10px;
}

.hero .highlight {
  padding: 5px 10px;
  display: block;
  background-color:black ;
}

.hero button {
  margin-top: 15px;
  padding: 10px 20px;
  font-size: 16px;
  background: black;
  color: white;
  border: none;
  cursor: pointer;
  justify-content: center;
  display:inline-block;
}

.hero button:hover {
  background: #444;
}

/* Content */
.content {
  padding: 40px 20px;
  max-width: 900px;
  margin: auto;
}

.content h2 {
  margin-top: 20px;
  color: #333;
}

.content h4 {
  color: gray;
  margin-bottom: 10px;
}

.content p {
  margin-bottom: 20px;
  text-align: justify;
}

/* Quote */
.quote {
  font-style: italic;
  opacity: 0.7;
}

/* Footer */
footer {
  background: #333;
  color: white;
  text-align: center;
  padding: 15px;
  margin-top: 20px;
}
