body,html{
    height: 100%;
}
body{
    display: flex;
    justify-content: space-around;
    align-items:center;
 }
 .first{
    width:200px;
    height:200px;
    /* background-color:red; */
    /* display:inline-block; */
    transition:all 1s ease;
    /* border:5px solid yellow; */
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 20px;

}
.first>img{
    width:100%;
    height:100%;
    object-fit:cover;
    transition: all 1s ease;
}
.first>div{
    position: absolute;
    background-color: gray;
    width: 100%;
    text-align: center;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-400px);
    transition: all 1s ease;
}
.first:hover>img{
    transform: translateY(-500px);
}
.first:hover>div{
    transform: translateY(0px);
}
.second{
    width:200px;
    height:200px;
    background-color:green;
    /* transform: translateX(500px); */
    border:5px solid palevioletred ;
    overflow: hidden;

}
.second>img{
    width: 100%;
    height:100%;
    object-fit: cover;
    transition: all 0.8s ease;
}
.second:hover>img{
    /* transform: scaley(1.5); */
    /* transform: rotate(180deg); */
    /* transform: rotateY(180deg); */
    /* transform: rotateX(360); */
    /* transform: skewX(80deg); */
    transform: scale(1.5) rotateX(360deg) translate(-200px);
}
body{
     animation-name: color;
     animation-timing-function: ease;
     animation-duration: 10s;
     animation-iteration-count: infinite;

}
.animate{
    width:200px;
    height: 200px;
    background-color: blue;
    animation-name: container;
    animation-timing-function: ease;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-delay: 1s;
    overflow:hidden;
}
.animate>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
@keyframes animie {
    form{
        background-color: yellow;

    }to{
       background-color: aqua;
    }
}
@keyframes bg {
    to{
        background-color: red;
    }form{
        background-color: purple;
    }
}
@keyframes container {
    form{
        border-radius:50%;
        transform: translateY(-500px) rotate(360deg);
    }
    to{
        border-radius: 20%;
        transform: translateY(500px);

    }
}
.per{
    width: 300px;
    height: 300px;
    background-color: red;
    position: absolute;
    animation-name: run;
    animation-timing-function: ease;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    transition: all 10s ease;
}
@keyframes color{
    0%{
        transition: all 0.5s ease;
        background-color: aqua;
    }
    25%{
        background-color: yellowgreen;
    }
    50%{
        background-color: lightslategray;
    
    }
    75%{
        background-color: tomato;
    }
    100%{
        background-color: sienna;
    }
}
@keyframes run{
    0%{
        background-color: aqua;
        right: 0px;
    }
    25%{
        background-color: yellowgreen;
        bottom: 0px;

    }
    50%{
        background-color: lightslategray;
        left:0px;
    }
    75%{
        background-color: tomato;
        right: 0px;
    }
    100%{
        background-color: sienna;
        top: 0px;
    }
}